*{
    padding: 0;
    margin: 0;
    
}
/* FONTE PRINCIPAL */
@font-face{
    font-family: 'Principal';
    src: url("font/Exo_2/Exo2-Italic-VariableFont_wght.ttf");
}
body {
   margin: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, black, #0a0a0a, #101010, #141414);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}

nav{
    position: fixed;
    

    
}
    
.div-logo-empresa{
    left: 0%;
    position: fixed;
    top: 0%;
   background-image: linear-gradient(to left , rgba(0, 0, 0, 0.792),rgba(26, 26, 26, 0.315));
   box-shadow: 0px 0px 15px rgba(135, 135, 135, 0.374);
   width: 100%;
   height: 10%;
   
   
}
.lista a {
    text-decoration: none;
    color: #FFFFFF;
    position: relative; /* necessário pro ::after funcionar */
    display: inline-block; /* para delimitar o espaço do sublinhado */
}


.lista a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 10px;
    background-color: #028cbd;
    transition: width 0.3s ease;
    box-shadow: 0px 0px 15px white;
}

.lista a:hover::after {
    width: 95%;
    box-shadow: 0 0 8px 2px #00aaffa6;
    
}


.lista {
    gap: 50px;
    display: flex;
    top: -30px;
    position: relative;
    left: 40%;
    list-style: none;
     font-family: Principal;
    font-size: 10pt;
    font-stretch: condensed; /* reduz largura se suportado */
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 4px;
    
    font-style: normal;
}
.logoempresa{
    width: 10%;
    margin-top: 20px;
    margin-left: 25px;
}



.div-conteudo_texto{
    position: relative;
    margin-top: 15%;
    margin-left: 200px;
     width: 34%;
 
   
   
}
.div-conteudo_texto h1{
 color: white;
font-family: monospace;
text-transform: uppercase;
letter-spacing: 1px;
font-size: 32pt;

}
.div-mark{
    margin-left: 800px;
    margin-top: -290px;
   
}
.div-conteudo_texto p{
    color: white;
    margin-top: 25px;
    font-family: Principal;
    letter-spacing: 2px;
    font-size: 12pt;

}
/* rgba(26, 26, 26, 0.436); */
main{
  
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.648),rgba(26, 26, 26, 0.436));
  padding-bottom: 5px;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.181);


  
}
.div-botao{
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
    
}
.botao{
    width: 380px;
    height: 40px;
    font-family: monospace;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    background-color: #028cbd;
    border-radius: 20px 5px 20px;
    font-size: 16pt;
    border: none;
    letter-spacing: 1px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* sombra leve */
    will-change: transform;
     animation: flutuar 3s ease-in-out infinite;
}
.botao:hover {
    transform: translateY(-10px) scale(1.03); /* sobe e dá um zoom sutil */
    cursor: pointer;
    box-shadow: 0px 0px 15px #028cbd;;
    color: rgba(0, 0, 0, 0.75);
}

@keyframes flutuar {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
}
