<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>Document</title>
</head>
<body>
    
    <nav>
        <div class="div-logo-empresa">
        <img src="/static/imgs/s-logo.png" alt="" class="logoempresa">
     
         <ul class="lista">
            <li><a href="">home</a></li>
            <li><a href="">Serviços</a></li>
            <li><a href="">clientes</a></li>
            <li><a href="">contato</a></li>
            
        </ul>
           </div>

    </nav>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>