<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>Scompany</title>
</head>
<body>
    <nav>
        <div class="div-logo-empresa">
        <img src="/static/imgs/s-logo.png" alt="" class="logoempresa">
     
         <ul class="lista">
            <li><a href="">home</a></li>
            <li><a href="">Serviços</a></li>
            <li><a href="">clientes</a></li>
            <li><a href="">contato</a></li>
            
        </ul>
           </div>

    </nav>
    <main>
        <div class="div-conteudo_texto">
            <h1>Seu concorrente já entendeu o jogo do tráfego - E você?</h1>
            <p>Eles estão lucrando com os clientes que poderiam ser seus
            Clique agora e vamos te mostrar como mudar essa dinâmica de vez.</p>
            <div class="div-botao">
                <button class="botao">
                    fale com um especialista
                </button>
            </div>
        </div>
        <div class="div-mark">
           <iframe width="600" height="315"
            src="https://www.youtube.com/embed/ice_xL6x4Qg"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
             allowfullscreen>
        </iframe>
            
        </div>

    </main>
    <article>
        
    </article>
    <footer>
     

    </footer>
</body>
</html>